@import "bootstrap";
$cWhite: white;
$cBlack: black;
$cMenuClose: $cBlack;
$cMenuOpen: $cBlack;
$cSubTitle: #535353;

/*application.html
------------------------------------------------------*/

#container {
	position: relative;
	background-color: $cWhite;
	height: 100vh;
	z-index: 2;
	transition: all 0.5s;
}

body {
	margin: 0;
}

.mobile-menu {
	position: fixed;
	right: 0;
	top: 60px;
	width: 300px;

	&__btn {
	    background-color: transparent;
	    border: none;
	    outline: none !important;
	    cursor: pointer;

	    & > span {
		    background-color: $cBlack;
		    width: 35px;
		    height: 2px;
		    display: block;
		    margin-bottom: 9px;
		    transition: transform 0.7s;

		    &:last-child {
			    margin-bottom: 0;
		    }
	    }
    }

	&__cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		opacity: 0;
		visibility: hidden;
		transition: opacity 1s;
		cursor: pointer;
	}

	&__main {
		// BEM(Block Element Modifier)
		padding: 0;
		perspective: 2000px;
		transform-style: preserve-3d;
	}
	&__item {
		list-style: none;
		display: block;
		transform: translate3d(0, 0, -1000px);
		padding: 0 40px;
		transition: transform 0.3s, opacity 0.2s;
		opacity: 0;
	}
	&__link {
		display: block;
		margin-top: 30px;
		color: $cBlack;
		text-decoration: none;
	}
}

.header {
	background-color: $cWhite;
	height: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-bottom: solid 1px $cBlack;
}

.menu-open {
	& #container {
		transform: translate(-300px, 60px);
		box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
	}
	& .mobile-menu {
		&__cover {
			opacity: 1;
			visibility: visible;
		}
		&__item {
		    transform: none;
		    opacity: 1;

		    @for $i from 1 through 5 {
		    	&:nth-child(#{$i}) {
		    		transition-delay: $i * 0.07s;
		    	}
		    }
	    }
	    &__btn {
		    & > span {
			    background-color: $cMenuOpen;

			    &:nth-child(1) {
				    transition-delay: 70ms;
				    transform: translateY(11px) rotate(135deg);
			    }
			    &:nth-child(2) {
				    transition-delay: 0s;
				    transform: translateX(-18px) scaleX(0);
			    }
	    	    &:nth-child(3) {
	    	   	    transition-delay: 140ms;
	    	        transform: translateY(-11px) rotate(-135deg);
			    }
		    }
	    }
	}
}

/*admin(item,genre)
------------------------------------------------------*/

.main-title {
	font-weight: 600;
	font-size: 25px;
}
.sub-title {
	display: block;
	font-size: 14px;
	color: $cSubTitle;
}

.admin-title {
	font-weight: bolder;
	font-size: 30px;
	margin-top: 25px;
	text-align: center;
}
.admin-main {
	margin-top: 50px;
	text-align: center;

	& .form-group {
		text-align: center;
		margin: 15px auto 25px;

		& > label {
			display: block;
			font-size: 20px;
		}
		& > input.title {
			width: 40%; /* 幅 */
            margin: 1em 0; /* 周囲の余白 */
            padding: 0.4em; /* 枠線内の余白 */
            font-size: 1em; /* フォントサイズ */
            border: solid 1px $cBlack; /* 枠線のスタイル */
            border-radius: 4px; /* 角丸に */
            margin: 0 auto;
		}
		& > input.img_field {
            display: none;
        }
		& > textarea.text {
            width: 80%; /* 幅 */
            margin: 1em 0; /* 周囲の余白 */
            padding: 0.5em; /* 枠線内の余白 */
            font-size: 1em; /* フォントサイズ */
            border: solid 1px $cBlack; /* 枠線のスタイル */
            border-radius: 4px; /* 角丸に */
            // resize: none; /* リサイズ不可に */
            margin: 0 auto;
        }
    }

    & .img_prev:hover {
        cursor: pointer;
        opacity: 0.7;
        transform: scale(1.01, 1.01);
    }

    & .datetime-form {
 	    display: inline-block;
 	    width: auto;
    }

	& .input_btn {
		text-align: center;
		margin: 50px 0;

		& .input_btn__btn {
		    width: 160px;
            height: 40px;
            border-radius: 10px;
            font-weight: 500;
            font-size: 18px;
	    }
	}

	& .genre_title {
		font-weight: 600;
	    font-size: 14px;
	}

	& .genre_text {
		margin: 10px auto;

		& input[type="text"] {
			width: 300px;
            height: 40px;
		}
	}

	& .genre_button {
        margin-top: 20px;

		& label {}
	}
}

/*form-image-uploader
------------------------------------------------------*/
.form-img-uploader {
  @at-root {
    #{&}__saved-img {
      margin-bottom: 1em;

      @at-root {
        #{&}-inner {
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          display: inline-block;
        }
      }

      img {
        max-height: 300px;
      }
    }

    #{&}__preview {
      width: 250px;
      height: 250px;
      display: inline-block;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      position: relative;
      cursor: pointer;
      margin: 0 auto;

      img {
        max-width: 250px;
        width: auto;
        max-height: 250px;
        height: 100%;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

/*block-toggle
------------------------------------------------------*/
.block-toggle {
  @at-root {
    #{&}__press {
      cursor: pointer;
      margin-bottom: 0.5em;
    }

    #{&}__content {
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 0.5em;
    }
  }
}

