@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$cWhite: white;
$cBlack: black;
$cMenuClose: $cBlack;
$cMenuOpen: $cBlack;
$cSubTitle: #535353;
$cBgBtn: #ff3333;

/*application.html
------------------------------------------------------*/

#container {
	position: relative;
	background-color: $cWhite;
	height: 100vh;
	z-index: 2;
	transition: all 0.5s;
}

body {
	margin: 0;
}

.mobile-menu {
	position: fixed;
	right: 0;
	top: 60px;
	width: 300px;

	&__btn {
	    background-color: transparent;
	    border: none;
	    outline: none !important;
	    cursor: pointer;

	    & > span {
		    background-color: $cBlack;
		    width: 35px;
		    height: 2px;
		    display: block;
		    margin-bottom: 9px;
		    transition: transform 0.7s;

		    &:last-child {
			    margin-bottom: 0;
		    }
	    }
    }

	&__cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		opacity: 0;
		visibility: hidden;
		transition: opacity 1s;
		cursor: pointer;
	}

	&__main {
		// BEM(Block Element Modifier)
		padding: 0;
		perspective: 2000px;
		transform-style: preserve-3d;
	}
	&__item {
		list-style: none;
		display: block;
		transform: translate3d(0, 0, -1000px);
		padding: 0 40px;
		transition: transform 0.3s, opacity 0.2s;
		opacity: 0;
	}
	&__link {
		display: block;
		margin-top: 30px;
		color: $cBlack;
		text-decoration: none;
	}
}

.header {
	background-color: $cWhite;
	height: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-bottom: solid 1px $cBlack;
}

.menu-open {
	& #container {
		transform: translate(-300px, 60px);
		box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
	}
	& .mobile-menu {
		font-family: 'M PLUS Rounded 1c', sans-serif;

		&__cover {
			opacity: 1;
			visibility: visible;
		}
		&__item {
		    transform: none;
		    opacity: 1;

		    @for $i from 1 through 8 {
		    	&:nth-child(#{$i}) {
		    		transition-delay: $i * 0.07s;
		    	}
		    }
	    }
	    &__btn {
		    & > span {
			    background-color: $cMenuOpen;

			    &:nth-child(1) {
				    transition-delay: 70ms;
				    transform: translateY(11px) rotate(135deg);
			    }
			    &:nth-child(2) {
				    transition-delay: 0s;
				    transform: translateX(-18px) scaleX(0);
			    }
	    	    &:nth-child(3) {
	    	   	    transition-delay: 140ms;
	    	        transform: translateY(-11px) rotate(-135deg);
			    }
		    }
	    }
	}
}

/*end_user(top)
------------------------------------------------------*/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

.container-fluid {
	background-image: url(bgc.png);
	background-size: container;
	color: $cWhite;
	position: relative;

	& .eu-title {
	    font-size: 30px;
	    text-align: center;
	    padding: 30px 0;
	    font-family: 'Noto Serif JP', serif;
    }

    & .swiper-container {
        width: 100%;
        height: 300px;
        display: inline-block;
    }

    & .hero {
        &__title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $cWhite;
            font-size: 25px;
        }
        & .slick-slide img {
            width: 100%;
            height: auto;
        }
    }

    & .eu-main {
    	font-family: 'Noto Serif JP', serif;
    	margin: 15px 0;

    	&__menu {
    		border-top: 1px dotted #eeb3b3;
    		padding: 40px 0 70px;

    		& h2.contentsHeading {
    			text-align: center;
    			padding: 20px 0;
    		}

    		& .eu-main__items {
    		    margin: 50px 0;
    		    padding: 0 50px 0;

    		    & .item-img {
    			    float: right;
                    overflow: hidden;
                    width: 333px;
                    max-height: 333px;
                    margin-left: 35px;
                    text-align: center;

    			    & > img {
    				    vertical-align: middle;
                        max-width: 333px;
                        max-height: 333px;
    			    }
    		    }

    		    & .item-home {
    			    overflow: hidden;
    			    // padding-left: 10px;

    			    & .item-name {
    			        width: 90%;
    			        padding: 5px 0 5px 5px;
    			        background-color: #333;
    			        font-size: 23px;
    		        }

    		        & .item-price {
    			        width: 90%;
    			        padding: 10px 0;
    			        display: inline-block;
    			        color: #dc5858;
    			        font-size: 16px;
    		        }

    		        & .item-explanation {
    			        width: 90%;
    			        height: 200px;
    			        margin-bottom: 10px;
    			        display: inline-block;
    		        }
    		    }
    	    }

    	    & .menuLook {
    	    	text-align: center;
    	    	font-size: 15px;

    	    	& > a {
    	    		vertical-align: baseline;
                    background: transparent;
                    text-decoration: none;
                    color: inherit;
                    margin-top: 60px;
    	    	}
    	    }
    	}

    	&__course {
    		// width: 1170px;
            margin: 0 auto;
            padding-right: 15px;
            padding-left: 15px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-top: 1px dotted #eeb3b3;
            padding: 40px 0 70px;

            & h2.contentsHeading {
            	text-align: center;
            	padding: 20px 0;
            }

    	    & ul.courseList {
    	    	// float: left;
    	    	// overflow: hidden;
    	    	// flex-wrap: wrap;
    	    	list-style: none;


    	    	& li.showContents {
    	    		// list-style: none;
    	    		// background-color: #333;
    	    		// position: absolute;
    	    		& > a {
    	    			margin: 0;
                        padding: 0;
                        font-size: 100%;
                        vertical-align: baseline;
                        background: transparent;
                        text-decoration: none;
                        color: inherit;


    	    		    & .courseContent {
    	    		    	width: 360px;
    	    		    	height: 674px;
    	    		    	float: left;
    	    	            overflow: hidden;
    	    			    margin: 0;
                            // padding: 0;
                            border: 0;
                            outline: 0;
                            font-size: 100%;
                            // vertical-align: baseline;
                            // background: transparent;
                            // border: 1px solid $cWhite;
                            margin: 20px 0 0 50px;


    	 			        & .couresImg {
    	    				    width: 340px;
    	    				    height: 340px;
    	    				    margin: 0 auto;

    	    				    .slick-prev:before {
    	    				    	display: none;
    	    				    }

    	    			        .slick-next:before {
                                    display: none;
                                }
                            }
    	    			    & .courseContentBody {
    	    			    	& h3.courseName {
    	    			    		list-style: none;
    	    			    		text-align: center;
    	    			    	}
    	    			    	& ul.courseInfoList {
    	    			    		padding-top: 20px;
    	    			    		& li.iconMenu {
    	    			    			list-style: none;
    	    			    			float: left;

    	    			    			& i.fas {
    	    			    				margin-right: 10px;
    	    			    				padding: 3px;
    	    			    				border: 1px solid $cWhite;
    	    			    				border-radius: 50%;
    	    			    			}
    	    			    		}
    	    			    		& li.iconHeads {
    	    			    			list-style: none;
    	    			    			float: left;
    	    			    			margin-left: 28px;

    	    			    			& i.fas {
    	    			    				margin-right: 10px;
    	    			    				padding: 3px;
    	    			    				border: 1px solid $cWhite;
    	    			    				border-radius: 50%;
    	    			    			}
    	    			    		}
    	    			    		& li.iconNomiho {
    	    			    			list-style: none;
    	    			    			float: left;
    	    			    			margin-left: 28px;

    	    			    			& i.fas {
    	    			    				margin-right: 10px;
    	    			    				padding: 3px;
    	    			    				border: 1px solid $cWhite;
    	    			    				border-radius: 50%;
    	    			    			}
    	    			    		}
    	    			    	}

    	    			    	& p.coursePrice {
    	    			    		padding-top: 20px;
    	    			    		font-size: 18px;
    	    			    		color: #dc5858;
    	    			    		text-align: right;
    	    			    		padding-right: 30px;
    	    			    	}

    	    			    	& .exudingCoupon {
    	    			    		margin:25px 0 0 13px;

    	    			    		& .exudingCouponTxt {
    	    			    			margin-bottom: 10px;
    	    			    		}

    	    			    		& .exudingCouponTitle {
    	    			    			width: 320px;
    	    			    	        border: solid 2px #dc5858;


    	    			    	        & p.exudingCouponTitleTxt {
    	    			    	        	border: solid 2px #ac3131;
    	    			    	        	padding: 10px;
    	    			    	        	margin: 0;
    	    			    	        }
    	    			    		}
    	    			    	}
    	    			    }
    	    		    }
    	    		}
    	    	}
    	    }

    	    & .menuLook {
    	    	text-align: center;
    	    	font-size: 15px;


    	    	& > a {
    	    		vertical-align: baseline;
                    background: transparent;
                    text-decoration: none;
                    color: inherit;
                    margin-top: 60px;
    	    	}
    	    }
    	}
    }
}


/*admin(item,genre,course)
------------------------------------------------------*/

.main-title {
	font-weight: 450;
	font-size: 20px;
}
.sub-title {
	display: block;
	font-size: 13px;
	color: $cSubTitle;
}

.admin-title {
	font-weight: bolder;
	font-size: 40px;
	margin-top: 25px;
	text-align: center;
	font-family: 'Noto Serif JP', serif;
}
.admin-main {
	margin-top: 50px;
	text-align: center;
	font-family: 'Noto Serif JP', serif;

	& .form-group {
		text-align: center;
		margin: 15px auto 25px;

		& > label {
			display: block;
			font-size: 20px;
		}
		& > input.title {
			width: 40%; /* 幅 */
            margin: 1em 0; /* 周囲の余白 */
            padding: 0.4em; /* 枠線内の余白 */
            font-size: 1em; /* フォントサイズ */
            border: solid 1px $cBlack; /* 枠線のスタイル */
            border-radius: 4px; /* 角丸に */
            margin: 0 auto;
		}
		& > input.img_field {
            display: none;
        }
		& > textarea.text {
            width: 80%; /* 幅 */
            margin: 1em 0; /* 周囲の余白 */
            padding: 0.5em; /* 枠線内の余白 */
            font-size: 1em; /* フォントサイズ */
            border: solid 1px $cBlack; /* 枠線のスタイル */
            border-radius: 4px; /* 角丸に */
            // resize: none; /* リサイズ不可に */
            margin: 0 auto;
        }
        & > textarea.text-course {
            width: 80%; /* 幅 */
            height: 500px;
            margin: 1em 0; /* 周囲の余白 */
            padding: 0.5em; /* 枠線内の余白 */
            font-size: 1em; /* フォントサイズ */
            border: solid 1px $cBlack; /* 枠線のスタイル */
            border-radius: 4px; /* 角丸に */
            // resize: none; /* リサイズ不可に */
            margin: 0 auto;
        }
    }

    & .img_prev:hover {
        cursor: pointer;
        opacity: 0.7;
        transform: scale(1.01, 1.01);
    }

    & .datetime-form {
 	    display: inline-block;
 	    width: auto;
    }

	& .input_btn {
		text-align: center;
		margin: 50px 0;

		& .input_btn__btn {
		    width: 160px;
            height: 40px;
            border-radius: 10px;
            font-weight: 500;
            font-size: 18px;
	    }
	}

	& table.table {
		& th {
			text-align: center;
			font-weight: 600;
	        font-size: 18px;
		}
		& td {
			& .delete-btn {
				padding: 5px;
				background-color: $cBgBtn;
				border-radius: 0.5rem;
				color: $cWhite;
			}
		}
	}

	& span.require {
		font-size: 10px;
		font-weight: bold;
		color: $cWhite;
		margin-left: 15px;
		padding: 3px;
		border-radius: 0.5rem;
		background-color: red;
	}

/*admin(item,course)
------------------------------------------------------*/

    & .admin-main__img {
    	margin-bottom: 30px;
    	& .img {
    		width: 250px;
    		height: 250px;
    	}
    }

    & .admin-main__items {
    	margin-top: 15px;

    	& .title {
    		font-weight: 600;
	        font-size: 20px;
    	}
    	& .title-data {
    		width: 60%;
    		font-size: 16px;
    		margin: 5px auto 0;
    		border: 1px solid #ced4da;
            border-radius: 0.25rem;
            padding: 5px 10px;
    	}
    	& .title-data-item {
    		width: 60%;
    		height: 250px;
    		margin: 10px auto 0;
    		padding: 0.5em;
    		font-size: 16px;
    		text-align: left;
    		border: 1px solid #ced4da;
            border-radius: 0.25rem;
    	}
    	& .title-data-course {
    		width: 60%;
    		height: 500px;
    		margin: 10px auto 0;
    		padding: 0.5em;
    		font-size: 16px;
    		text-align: left;
    		border: 1px solid #ced4da;
            border-radius: 0.25rem;
    	}
    }

    & .link_btn {
    	width: 60%;
    	margin: 50px auto;
    	padding: 10px 0;
    	background-color: $cBgBtn;

    	& a {
    		color: $cWhite;
    		font-weight: bold;
    	}
    }

/*admin(genre)
------------------------------------------------------*/

	& .genre_title {
		font-weight: 600;
	    font-size: 18px;
	}

	& .genre_text {
		margin: 10px auto;

		& input[type="text"] {
			width: 300px;
            height: 40px;
		}
	}

	& .genre_button {
		font-size: 15px;
        margin-top: 20px;

		& input[type="radio"] {
			cursor: pointer;
			margin: 0 5px;
		}
	}
/*admin(course)
------------------------------------------------------*/
    & .admin-main__course_img {
    	display: inline-block;

    	& img {
    		width: 150px;
    		height: 150px;
    		margin: 5px;
    	}
    }
}

/*form-image-uploader
------------------------------------------------------*/
.form-img-uploader {
  @at-root {
    #{&}__saved-img {
      margin-bottom: 1em;

      @at-root {
        #{&}-inner {
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          display: inline-block;
        }
      }

      img {
        max-height: 300px;
      }
    }

    #{&}__preview {
      width: 250px;
      height: 250px;
      display: inline-block;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      position: relative;
      cursor: pointer;
      margin: 0 auto;

      img {
        max-width: 250px;
        width: auto;
        max-height: 250px;
        height: 100%;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

/*block-toggle
------------------------------------------------------*/
.block-toggle {
  @at-root {
    #{&}__press {
      cursor: pointer;
      margin-bottom: 0.5em;

      & btn.btn {
      	background-color: rgb(239, 239, 239);
      	border: 2px solid #ced4da;
      }
    }

    #{&}__content {
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 0.5em;
    }
  }
}

.course__drop__box__container {
	display: block;
	margin: 16px auto 0;
	display: flex;
	flex-wrap: wrap;

	.prev-content {
		display: flex;

		.preview-box {
			height: 162px;
			width: 112px;
			margin: 0 15px 10px 0;

			.upper-box {
                height: 112px;
                width: 100%;

                img{
                    width: 112px;
                    height: 112px;
                }
            }

            .lower-box {
                display: flex;
                text-align: center;

                .update-box {
                    color: #00b0ff;
                    width: 50%;
                    height: 50px;
                    line-height: 50px;
                    border: 1px solid #eee;
                    background: #f5f5f5;
                    cursor: pointer;
                }
                .delete-box {
                    color: #00b0ff;
                    width: 50%;
                    height: 50px;
                    line-height: 50px;
                    border: 1px solid #eee;
                    background: #f5f5f5;
                    cursor: pointer;
                }
            }
		}
	}

	.label-content{
        // margin-bottom: 10px;
        margin: 0 auto 10px;
        width: 620px;
        .label-box {
            display: block;
            border: 1px dashed #ccc;
            position: relative;
            background: #f5f5f5;
            width: 100%;
            height: 162px;
            cursor: pointer;
            &__text-visible {
                position: absolute;
                top: 50%;
                left: 16px;
                right: 16px;
                text-align: center;
                font-size: 14px;
                line-height: 1.5;
                font-weight: bold;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
            }
        }
    }

    .hidden-content {
    	width: 620px;
    	margin: 0 auto;
        .hidden-field {
            // display: none;
        }
        .hidden-checkbox {
            // display: none;
        }
    }
}


